html {
  scroll-behavior: smooth;
}

.app {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  [class="app"] {
    width: 90%;
  }
}

.pornunciation-popover {
  padding: 10px;
}

.pronunciation-button {
  margin: 4px;
}

.pronunciation-word-line {
  margin-bottom: 3px;
}

.examples-button {
  margin-bottom: 2.7px;
}