html {
  scroll-behavior: smooth;
  background-color: #30404d;
}

.app {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .app {
    width: 90%;
  }
}

.pornunciation-popover {
  padding: 10px;
}

.pronunciation-button {
  margin: 4px;
}

.pronunciation-word-line {
  margin-bottom: 3px;
}

.examples-button {
  margin-bottom: 2.7px;
}

.meta-buttons-wrapper {
  display: inline;
}

.meta-button {
  margin-bottom: 10px;
  width: 40px;
}

.drawer-content {
  padding: 10px;
  font-size: 120%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drawer-content::-webkit-scrollbar {
  display: none;
}

.justifier-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-meta-button-wrapper {
  margin-top: 21.5px;
}